@mixin buttonReset {
	padding: 0;
	background-color: transparent;
	border: none;
}

@mixin listReset {
	padding: 0;
	list-style: none;
}

@mixin containerReset {
	margin-left: rem(-$wrapper-gutter-sm-1);
	margin-right: rem(-$wrapper-gutter-sm-1);

	@include media-breakpoint-up(md) {
		margin-left: rem(-$wrapper-gutter-md-1);
		margin-right: rem(-$wrapper-gutter-md-1);
	}

	@include media-breakpoint-up(lg) {
		margin-left: rem(-$wrapper-gutter-lg-1);
		margin-right: rem(-$wrapper-gutter-lg-1);
	}
}
